.all_tab_text {
    color: black;
    font-weight: 400;
}

.all_itembox {
    margin: auto;
}

.all_img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    margin: auto;
}

.all_text {
    text-align: center;
}