.product_itembox {
    margin: auto;
}
.product_img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    margin: auto;
}
.product_text {
    text-align: center;
}
.product_name {
    cursor: pointer;
}